<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vim Weather</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.10/css/weather-icons.min.css" integrity="sha512-Fdq8QvrEd3TD4heN8gNTOl79sAZR7zsiHIDQbE5eEBxx8pPfb/yJHaBWxhoG7SNcQiBmrrUHlg5TiNX4ovt6Jg==" crossorigin="anonymous" />
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="{{url_for('static', filename='script.js')}}"></script>
</head>
<body>
    <div class="container">
        <!-- Search -->
        <div class="search">
            <form action="/" method="POST">
           
                <input class="search-text" type="text" name="city" id="city" placeholder="Enter your City...">
                <button class="button" type="submit">Check</button>
            </form>
        </div>
        <!-- Heading Info -->
        <div class="heading">
            <h1 class="top city-country">{{ city }}, {{ country }}</h1>
            <h2 class="top time">{{ current_time }}</h2>
            <h2 class="top date">{{ today_date }}</h2>
            <h2 class="top day">{{ day }}</h2>
            <h1 class="top degree">{{ temp }}°c</h1>
            <h4 class="top weather-desc">{{ weatherdesc }}</h4>
        </div>
        <!-- Icon -->
        <div class="icon">
            <i class="wi "></i>
        </div>
        <!-- Cards Info -->
        <div class="cards-info">
            <div class="card one">
                <h4>{{ temp }}°c</h4>
                <p>Temperature</p>
            </div>
            <div class="card two">
                <h4>{{ weather }}</h4>
                <p>Weather</p>
            </div>
            <div class="card three">
                <h4>{{ feels}}°c</h4>
                <p>Feels like </p>
            </div>
            <div class="card four">
                <h4>{{ windspeed }}m/s</h4>
                <p>Wind Speed</p>
            </div>
            <div class="card five">
                <h4>{{ humidity }}%</h4>
                <p>Humidity</p>
            </div>
            <div class="card six">
                <h4>{{ pressure }}pa</h4>
                <p>Pressure</p>
            </div>
        </div>
        <div class="footer">
            <p>Developed by Pukka Web Services</p>
            <div class="icons">
            	<a href="https://facebook.com/creatingmann"><i class="fa fa-facebook"></i></a>
            	<a href="https://github.com/Creating-mann"><i class="fa fa-github"></i></a>
            	<a href="https://twitter.com/creating_mann"><i class="fa fa-twitter"></i></a>
            	<a href="https://instagram.com/creating_mann"><i class="fa fa-instagram"></i></a>
            </div>
        </div>
    </div>
</body>
</html>